html {
  align-items: center;
}

body {
  margin: 0;
  background-color: '#f23c1e';
}

/* .container {
  border: 2px solid #000;
  max-width: 1000px;
} */

.headingColor {
  color: '#f23c1e';
  background-color: '#f23c1e';
}

main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h4 {
  color: '#f23c1e';
}

.cardText {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.cardTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}
